<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.mapper.CityMapper">
    <select id="selectCityByName" resultType="City">
        select * from city where name = #{name}
    </select>

    <insert id="saveCtiys" useGeneratedKeys= "true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
          SELECT
          LAST_INSERT_ID()
        </selectKey>
        insert into city (name,state,country)
        values
       <foreach collection="list" item="item" index="index" separator="," >
          (#{item.name},#{item.state},#{item.country})
       </foreach>
    </insert>
</mapper>
